.nav-link{
  color:black;
  font-weight:600;
  cursor: pointer;
}

.nav-link:hover{
  color:gray;
}

.navbar-nav {
  --bs-nav-link-hover-color: white;
}

.navbar-nav .nav-link.active{
  color: white;
}

.logo{
  width: 120px;
}