.clear{
    clear:both;
}

.banner{
    height: 55vh;
    background-color: #03989e;
    border: #f9d486 solid 1em;
}

.img-img{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    margin: 0;
}

.content{
    margin-top: 0;
    padding: 0;
}

.product-name{
    color: #184d47;
    font-size: 2.5em;
    margin: 0;
}
.product-price{
    color: #184d47;
    font-size: 2em;
    margin: 0;
}

.end-icons{
    margin-left: 0.5em;
}

.button{
    color: #f9d486;
    background-color: #184d47;
    border: 0;
    outline: 0;
    padding: auto;
    border-radius: 0.5em;
    text-align: center;
    padding-bottom: 0;
    padding-left: 0.7em;
    padding-right: 0.7em;
    justify-items: center;
    font-size: 1.3em;
}

#header{
    font-family: 'Sarabun', sans-serif;
    font-size: 3em;
    text-decoration: underline 0.05em;
}

.col{
    max-width:25%;
    text-align: center;
    padding: 50px 0;
    margin: 1em;
    float: left;
    padding:0.7em;
    border-radius:0.5em;
    padding-bottom: 0;
}

.rowww{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 0px;
}

.col{
    -ms-flex: 22%; /* IE10 */
    flex: 20%;
    max-width: 22%;
    max-height:auto;
    padding:1em;
    background-color: #f9d486;
}

/*   */

.image{
    padding: 1em 1em 0 1em;
    border-radius: 0.5em 0.5em  0 0;
    height: 50%;
    min-height: 50%;
    width: 100%;
    background-color: #f9d486;
}

.contents{
    width: 100%;
    align-self: baseline;
    display: inline-block;
    background-color: #f9d486;
}

.buttons{
    width: 100%;
    align-self: baseline;
    margin-bottom: 0;
    background-color: #f9d486;
    padding-bottom: 1em;
    border-radius: 0 0 0.5em 0.5em;

}

@media screen and (max-width: 1030px) {
.col {
    -ms-flex: 46%;
    flex: 46%;
    max-width: 46%;
    max-height:auto;
}
}

@media screen and (max-width: 800px) {
    .col {
        -ms-flex: 40%;
        flex: 40%;
        max-width: 46%;
        max-height:auto;
    }
    }

@media screen and (max-width: 540px) {
.col {
    -ms-flex: 100%;
    flex: 100%;
    float: none;
    width: 100%;
    max-width: 100%;
    font-size: auto;
}
}